<!DOCTYPE html>
<html>
<head>
  <title>Ceasar Cipher - reload</title>
</head>
<body>
  <form>
    <input type='text' name='secret' placeholder="phrase to encrypt" />
    <input type='number' name='shift'placeholder="shift" />
    <input type="submit" name="encode" value ="Encode"/>
  </form>
  <p>Encrypted word: <%= encrypted %></p>
</body>
</html>